<h3>Você foi convidado(a) para nos ajudar com essa pesquisa de satisfação</h3>

<p>
  Olá, <%= @member.user.nome %>,
</p>

<p>
  Por favor responda a seguinte pergunta de acordo com o que você sente sobre...
</p>

<p>
  <%host = 'http://127.0.0.1:3000'%>
  <%=link_to("Acessar Pesquisa","#{host}/pesquisas/#{@member.pesquisa_id}/edit")%>
</p>

<p>
  Ah, sua forma de acesso é:
  Login: <%=@member.user.email%>
  Senha: '123456'
</p>

<p>
Ficamos agradecidos! =)
</p>

<p>
E ah! O login é só para controle, suas respostas não serão associadas com você.
<br> A pesquisa é completamente anônima! ;)
</p>

