<h3>Você foi convidado(a) para nos ajudar com essa pesquisa de satisfação</h3>

<p>
 Olá, <%= @member.nome %>,
</p>

<p>
  Por favor responda a seguinte pergunta de acordo com o que você sente sobre...
</p>

<p>
  <%host = 'http://127.0.0.1:3000'%>
  <%=link_to("Acessar Pesquisa","#{host}/pesquisas/#{@member.pesquisa_id}")%>
</p>

<p>
Ficamos agradecidos! =)
</p>