<%= form_with(model: pesquisa, local: true) do |form| %>
  <form>
    <div class="form-group">
      <label for="pergunta">Pergunta</label>
      <%=form.text_field :pergunta,
          class: "form-control",
          placeholder: "Default input"%>
    </div>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </form>
<% end %>   
