<div class="container-fluid">
  <%= form_with(model: @pesquisa, local: true) do |form| %>
    <%=@pesquisa.pergunta%>
    <p>
      <%= form.select(:valor, 
          options_for_select(0..10)) 
          %>
    </p>
    <p>
      <%= form.submit "Salvar", class: "btn btn-primary" %>
    </p>
  <%end%>
</div>
