<div class="container-fluid">
  <p>Dashboard</p>

  <p>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Nova enquete', new_pesquisa_path() %></button>
  </p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2" scope="col">Pesquisa</th>
        <th scope="col">Média</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">Mark</td>
        <th scope="row">1</th>
      </tr>
      <tr>
        <td colspan="2">Jacob</td>
        <th scope="row">2</th>
      </tr>
      <tr>
        <td colspan="2">Larry the Bird</td>
        <th scope="row">3</th>
      </tr>
    </tbody>
  </table>
</div>
